<footer>
  <div class="content">

  <ul>
    <li><a href="<%- root %>"><img src="<%- imagecdn %>f_auto/v1583684035/old-pines-logo" alt="<%= name %>" width="400" height="129" /></a></li>
    <li><a href="[root]location/" class="icon location">Spean Bridge, Scotland PH34 4EG</a></li>
    <li><a href="tel:+44-1397-712324" class="icon phone">+44 1397 712324</a></li>
    <li><a href="[root]contact/" class="icon email">enquiries {at} oldpines dot co dot uk</a></li>
    <li class="noprint"><a href="[root]privacy/" class="icon contact">privacy policy</a></li>
    <li id="install" class="noprint"><a href="#install" class="icon bookmark">install app</a></li>
  </ul>

  <%- include('share.html'); %>

  </div>

  <p><a href="https://www.optimalworks.net/" class="icon optimalworks">optimalWORKS</a></p>

</footer>
