<footer>
  <div class="content">

  <p><a href="<%- root %>"><img src="<%- imagecdn %>f_auto/v1583684035/old-pines-logo" alt="<%= name %>" /></a></p>

  <ul>
    <li>&copy; Old Pines Hotel &amp; Restaurant, Spean Bridge</li>
    <li><a href="tel:+44-1397-712324" class="icon phone">+44 1397 712324</a></li>
    <li><a href="#" class="icon email">enquiries {at} oldpines dot co dot uk</a></li>
    <li id="install"><a href="#install" class="icon add">install</a></li>
  </ul>

  <%- include('share.html'); %>

  </div>
</footer>
