<% if (hero && herop) { %>
<picture class="hero">
  <source
    media="(max-aspect-ratio:1/1)"
    srcset="<%- imagecdn %>c_scale,w_250/<%- herop %> 250w, <%- imagecdn %><%- herop %> 500w"
  />
  <img
    crossorigin="anonymous"
    src="<%- imagecdn %>f_auto,c_scale,w_400/<%- hero %>"
    srcset="<%- imagecdn %>c_scale,w_800/<%- hero %> 800w, <%- imagecdn %><%- hero %> 1200w"
    alt="<%= hero.replace(/.+\/([^/].+)$/, '$1').trim(); %>" />
</picture>
<% } %>

<header>
  <div class="content">

    <% if (false && quote) { %>
      <q><%- quote %></q>
    <% } %>

    <% if (menu !== 'contact' && menu !== 'offline') { %>

      <ul>

        <% if (menu !== 'restaurant' && menu !== 'menus') { %>
          <li><a href="<%- book %>" class="button">book a room</a></li>
        <% } %>

        <% if (menu !== 'rooms') { %>
          <li><a href="[root]contact/" class="button">book a table</a></li>
        <% } %>

        <% if (voucher && vouchertext && menu !== 'offer') { %>
          <li><a href="<%- voucher %>" class="button"><%- vouchertext %></a></li>
        <% } %>

      </ul>

    <% } %>

  </div>
</header>
