<% if (hero && herop) { %>
<picture class="hero">
  <source
    media="(max-aspect-ratio:1/1)"
    srcset="<%- imagecdn %>f_auto,c_scale,w_250/<%- herop %> 250w, <%- imagecdn %>f_auto/<%- herop %> 500w"
  />
  <img
    src="<%- imagecdn %>f_auto,c_scale,w_400/<%- hero %>"
    srcset="<%- imagecdn %>f_auto,c_scale,w_800/<%- hero %> 800w, <%- imagecdn %>f_auto/<%- hero %> 1200w"
    alt="<%= hero.replace(/.+\/([^/].+)$/, '$1').trim(); %>" />
</picture>
<% } %>

<header>
  <div class="content">

    <% if (menu !== 'contact') { %>

      <ul>

        <% if (menu !== 'restaurant') { %>
          <li><a href="<%- book %>">book a room</a></li>
        <% } %>

        <% if (menu !== 'rooms') { %>
          <li><a href="[root]contact/">book a table</a></li>
        <% } %>

      </ul>

    <% } %>

  </div>
</header>
