<%
  let [navText, navImg] = navGenerate(nav);

  function navGenerate(navSet) {

    let navText = '', navImg = '', level = 0;
    for (let p = 0; p < navSet.length; p++) {

      let
        page = navSet[p],
        open = navlist[page.level] === page.item,
        active = open && !navlist[page.level+1];

      level = page.level;

      if (page.menu && !page.nomenu && !page.private) {

        let
          s =
            '<li' + (active ? ' class="active"' : '') + '>' +
            '<' + (active ? 'strong' : 'a href="' + root + page.url + '"') + ' title="' + page.title + '">',
          e = (active ? '</strong>' : '</a>') + '</li>';

        navText += s + page.menu + e;
        navImg  += s + '<img src="/images/svg/' + page.menu + '.svg" data-inline="1" />' + e;

      }
    }

    return [navText, navImg];
  }
%>

<nav id="menutext">

  <ul class="content">
    <li id="logo">
      <a href="<%- root %>">
        <img id="logomain" src="<%- root %>images/old-pines-logo.png" alt="<%= name %>" width="400" height="129" />
        <img id="logonarrow" src="<%- root %>images/old-pines-logo-2.png" alt="<%= name %>" width="400" height="78" />
      </a>
    </li>
    <%- navText %>
  </ul>

</nav>

<nav id="menuimg">

  <ul><%- navImg %></ul>

</nav>

<nav id="bar">

  <ul class="content">
    <li class="wshow"><a href="[root]location/" class="icon location" tabindex="0">Spean Bridge, Scotland</a></li>
    <li><a href="#" class="icon email" tabindex="0">enquiries {at} oldpines dot co dot uk</a></li>
    <li><a href="tel:+44-1397-712324" class="icon phone" tabindex="0">+44 1397 712324</a></li>
  </ul>

</nav>
