// Global Sass variables

// fonts
$font-main: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
$font-head: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$font-size: 130%;

// responsive breakpoints
$breakpoint: (
	'small'		: 36rem,
	'medium'	: 46rem,
	'large'		: 56rem
);

// content width
$contentW		: 42rem;
$contentPad : 3vw;

// responsive height
$respondH		: 42rem;

// colours
$green-main: #458738;
$green-dark: #326028;
$green-lite: #73be63;

$brown-main: #b17868;
$brown-dark: #8d5849;
$brown-lite: #efe1de;

$color-back: #fff;
$color-fore: #556;
$color-logo: $green-main;
$color-menu: $brown-main;
$color-bar : rgba($color-menu, 0.3);
$color-foot: $brown-lite;

$color-link: $brown-main;
$color-lhvr: $brown-dark;
