// Global Sass variables

// fonts
$font-main: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
$font-head: Corbel, "Lucida Sans", "DejaVu Sans", "Liberation Sans", Helvetica, Arial, sans-serif;
$font-size: 130%;

// responsive breakpoints
$breakpoint: (
	'small'		: 36em,
	'medium'	: 46em,
	'large'		: 56em
);

// content width
$contentW		: 42rem;
$contentPad : 3vw;

// responsive height
$respondH		: 42em;

// colours
$green-main: #483;
$green-dark: #363;
$green-lite: #7b6;

$grey-main: #6f6e6e;
$grey-dark: #556;
$grey-lite: #eee;

$color-back: #fff;
$color-fore: $grey-dark;
$color-logo: $green-main;
$color-menu: $grey-main;
$color-bar : rgba($color-menu, 0.3);
$color-foot: $grey-lite;

$color-bold: $green-dark;
$color-link: $green-dark;
$color-lhvr: $green-main;
