/*
Example feature:

<p class="feature">
  <a href="https://www.mckinlaykidd.com/scotland-holidays/first-class-jacobite-express-short-break/">
    <img src="[imagecdn]f_auto/v1618583776/content/steam-tour" width="300" height="200" alt="First Class Jacobite Express short break" crossorigin="anonymous" loading="lazy" />
    We've put together a special deal with McKinlay Kidd to bring you First Class Jacobite Express short breaks in May 2021.
    <strong>More information&hellip;</strong>
  </a>
</p>
*/

.feature {
  color: $color-back;
  background-color: $green-dark;
  overflow: auto;

  a {
    display: block;
    padding: 1em;
    color: inherit;
    text-decoration: none;
    outline: 0 none;
  }

  img {
    width: 100%;
    height: auto;
    margin: 0 0 1em 0;
    border: 3px solid $green-lite;

    @media (min-width: map-get($breakpoint, 'small')) {
      float: right;
      width: auto;
      max-width: 100%;
      margin: 0 0 1em 1em;
    }
  }

  strong {
    display: block;
    margin-top: 1em;
  }

  a:hover, a:focus {
    strong {
      text-decoration: underline;
    }
  }

}
