// page footer
footer {

  background-color: $color-foot;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 $contentPad 6em;
    border-top: 2em solid $color-back;
  }

  ul, li {
    @include reset-list;
  }

  ul {
    margin-top: 1em;
  }

  img {
    max-width: 16em;
    margin-bottom: 1em;
  }

  a:link, a:visited, .linkable {
    display: inline-block;
    text-decoration: none;
  }

}
