// header
picture.hero img {

  position: absolute; // fixed or absolute
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;

}

header {

  height: 100vh;
  padding: 8em 0;

  ul, li {
    @include reset-list;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  a:link, a:visited {
    display: block;
    width: 10em;
    font-family: $font-head;
    font-weight: 600;
    line-height: 2.5;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin: 0.25em;
    color: $color-back;
    background-color: $color-logo;
    border: 3px solid $color-logo;
    box-shadow: 0 2px 3px rgba(0,0,0,0.6);
    transition: all 0.2s linear;

    @media (min-height: $respondH) {
      bottom: 7em;
    }
  }

  a:hover, a:focus {
    background-color: rgba($color-logo, 0.8);
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
  }

}

#contact header {
  height: 40vh;
}
