// Base styles
:root {
  font-size: $font-size;
}

html, body {
  width: 100%;
  min-height: 100%;
  touch-action: manipulation;
  -webkit-text-size-adjust: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-main;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.62;
  @include reset;
  color: $color-fore;
  background-color: $color-back;
  overflow-x: hidden;
  overscroll-behavior: none;
}

table, input, output, textarea, select, option, button {
  font-family: $font-main;
  font-size: 1em;
  font-weight: 300;
}

h1, h2 {
  clear: both;
  font-size: 2.62rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.03em;
  padding: 0;
  margin: 1em 0 0 0;
  scroll-margin-top: 3rem;
}

h1:first-child {
  margin: 0;
}

h2 {
  font-size: 1.62rem;
  margin-top: 1.62em;
}

p {
  line-height: 1.62;
  margin: 1em 0 0 0;
}

h2 + p {
  margin-top: 0.6em;
}

ul, ol {
  padding: 0;
  margin: 1.5em 3em;
}

ul {
  list-style-type: square;
}

li {
  padding: 0;
  margin: 0.81em 0 0 0;
}

li > :first-child, li a > :first-child {
  margin-top: 0;
}

table {
  clear: both;
  vertical-align: top;
  margin: 2em auto 0;
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 0 0.5em;
  margin: 0;
}

th, strong {
  font-weight: 600;
}

picture, img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  @include reset;
  border: 0 none;
  user-select: none;
}

$bqcolor: $color-back;
$bqtail: 10px;

blockquote {
  position: relative;
  width: 82%;
  max-width: 30em;
  padding: 0.8em 1.5em 1em;
  margin: $bqtail 0 0 0;
  background-color: $bqcolor;
  border-radius: $bqtail;
  filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.2));

  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: 1.5em;
    bottom: ($bqtail * -2 + 1);
    border-width: $bqtail;
    border-style: solid;
    border-color: $bqcolor $bqcolor transparent transparent;
  }

  p {
    font-style: italic;
    line-height: 1.4;
    margin: 0;
    color: $color-fore;
  }
}

blockquote:nth-of-type(even) {
  margin-left: auto;

  &::after {
    left: auto;
    right: 1.5em;
    border-color: $bqcolor transparent transparent $bqcolor;
  }

}

p + blockquote {
  margin-top: 1.5em;
}

a:link, a:visited, .linkable {
  color: $color-link;
  text-decoration: underline;
  cursor: pointer;
}

::-moz-focus-inner {
  border: 0;
}

a, .linkable {

  &:hover {
    color: $color-lhvr;
  }

  &:focus {
    outline: 2px dotted $color-lhvr;
    outline-offset: 10px;
  }

}

.notice {
  padding: 0.5em 1em;
  color: #900;
  background-color: #ff9;
  border: 2px solid #900;
}
