// Base styles
:root {
  font-size: $font-size-rwd;
}

html, body {
  touch-action: manipulation;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: $font-main;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.2;
  @include reset;
  color: $color-fore;
  background-color: $color-back;
  overscroll-behavior: none;
}

table, input, output, textarea, select, option, pre, button {
  font-family: $font-main;
  font-size: 1em;
  font-weight: 300;
}

h1, h2 {
  clear: both;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.03em;
  padding: 0;
  margin: 1em 0 0 0;
}

h2 {
  font-size: 1.4rem;
  margin-top: 2em;
}

p {
  line-height: 1.5;
  margin: 1em 0 0 0;
}

h2 + p, h2 + blockquote + p {
  margin-top: 0.2em;
}

ul, ol {
  padding: 0;
  margin: 1.5em 3em;
}

ul {
  list-style-type: square;
}

li {
  line-height: 1.5;
  padding: 0;
  margin: 0.8em 0 0 0;
}

li > :first-child, li a > :first-child {
  margin-top: 0;
}

strong {
  font-weight: 600;
}

picture, img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  @include reset;
  user-select: none;
}
