// form styling
$field-back: lighten($brown-lite, 15%);
$field-outr: $brown-main;
$field-hint: $color-logo;
$field-help: #c00;

form {
  @include reset;
}

.validator {
  display: none;

  &.active {
    display: block;
  }
}

.vcard {

  margin: 1em 0;
  text-align: center;

  p {
    margin: 0;
  }

  .adr {

    margin-top: 1em;

    span {
      display: block;
    }
  }

  a.phone {
    font-size: 1.5em;
  }

  a:link, a:visited {
    text-decoration: none;
  }

}

input, textarea, button {
  clear: both;
  display: block;
  width: 100%;
  font-family: $font-head;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.8rem;
  margin: 0;
  color: $field-outr;
  background-color: $color-back;
  border: 3px solid $field-outr;
	border-radius: 0;
  outline: 0 none;
  box-shadow: none;

  &:focus {
    background-color: $field-back;
  }

}

textarea {
  height: auto;
}

label {
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  color: $field-outr;
  user-select: none;
  cursor: pointer;
}

button {
  width: 8em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2.5;
  padding: 0;
  margin-top: 1rem;
  color: $color-back;
  background-color: $color-logo;
  border: 0 none;
  cursor: pointer;

  &:hover, &:focus {
    background-color: $green-dark;
  }

  &:focus {
      outline: 2px dotted $field-outr;
      outline-offset: 10px;
  }

  &::-moz-focus-inner {
    border:0;
  }

}

// submit status
.submit {
  display: none;
  font-size: 1.2em;
  margin: 1rem 0 0 0;
  color: $field-hint;

  &:before {
    display: inline-block;
    content: ' ';
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
    margin-right: 0.3em;
    border: 3px dashed $field-hint;
    border-radius: 50%;
    animation: spinner 2s linear infinite;
  }
}

// submitting actions
button[type='submit'] {
  display: block;
}

form.submitting {

  button[type='submit'] {
    display: none;
  }

  .submit {
    display: block;
  }

}

// error
p.error {
  display: none;
  font-size: 1.2em;
  text-align: center;
  color: $field-help;
}

form.error {

  p.error {
    display: block;
  }

  input, textarea {

    &:invalid, &:invalid + label {
      color: $field-help;
    }

  }

}

// successful post
p.posted {
  display: none;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  font-style: italic;
  color: $field-hint;
}

form.success {

  div, p {
    display: none;
  }

  p.posted {
    display: block;
  }

}


// animation
@keyframes spinner {
  0% { transform: scale(1) rotate(0deg); filter: opacity(1); }
  50% { transform: scale(0.6) rotate(180deg); filter: opacity(0.5); }
	100% { transform: scale(1) rotate(720deg); filter: opacity(1); }
}
