// inlined SVG icons
@mixin icon($name) {
  .#{$name}:before {
    background: inline('images/svg/#{$name}.svg') no-repeat 50% 50%;
  }
}

.icon, .icon:before {
  display: inline-block;
  vertical-align: sub;
  white-space: nowrap;
  color: inherit;
}

.icon:before {
  content: ' ';
  width: 1.62em;
  height: 1em;
  font-weight: normal;
}

@include icon('bookmark');
@include icon('close');
@include icon('contact');
@include icon('copy');
@include icon('email-square');
@include icon('email');
@include icon('facebook');
@include icon('home');
@include icon('linkedin');
@include icon('location');
@include icon('menu');
@include icon('phone');
@include icon('restaurant');
@include icon('rooms');
@include icon('share');
@include icon('twitter');

#install {
  display: none;
}
