// layout
.content {
  width: $contentW;
  max-width: 100%;
  padding: 0 $contentPad;
  margin: 0 auto;
}

main {

  .content {
    padding: 1rem $contentPad;
    background-color: $color-back;
  }

}

.maxwidth {
  width: calc(100vw - 22px);
  margin: 2rem 0 2rem 50%;
  padding: 10px 0 0 0;
  background-color: $color-back;
  transform: translateX(-50%);
  overflow: hidden;
}

iframe {
  height: 60vh;
}

.wshow {
  display: none;

  @include respond('small') {
    display: unset;
  }

}
